#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    z-index: -1;
}

.first-section {
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.typewriter{
    position: relative;
}
.typewriter::before{
    content: "";
    right: -8px;
    top: 50%;
    position: absolute;
    height: 30px;
    width: 10px;
    background: rgba(0, 166, 215, 1);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
} 
.typewriter.stop-blinking::before{
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0%;
    }
    0%, 100% {
        opacity: 100%;
    }
}

/*Responsiveness*/
/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 575.98px) {}
/* Small devices (phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .phone-centre{
        text-align: center;
    }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .text-xl{
        font-size: 1.2rem;
    }
    .text-2xl{
        font-size: 1.3rem;
        line-height: 1.75rem;
    }
}
  