body {
    font-family: 'Source Code Pro', monospace;
    background-image: radial-gradient(#ffffff7f 1px, transparent 0);
    background-size: 30px 30px;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.banner .slider .item img {
    width: 50%;
    height: 50%;
    object-fit: fill;
}

.banner .content {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    line-height: 1em;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Source Code Pro', monospace;
}

.banner .content h1::after {
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(to right, rgba(134, 250, 242, 1) 0%, rgba(48, 231, 237, 1) 20%, rgba(0, 166, 215, 1) 40%, rgba(0, 88, 179, 1) 60%, rgba(0, 27, 135, 1) 80%);
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    background-size: 100% auto;
    text-align: center;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.banner .content .model {
    background-image: url(/images/man.png);
    width: 100%;
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 110%;
    z-index: 1;
}
.stack img {
    width: 20vh;
    height: 20vh;
    object-fit: fill;
}
.tech-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .tech-grid {
        grid-template-columns: 1fr;
    }
}
